CONFIG_MODULES=y
CONFIG_HAVE_DOT_CONFIG=y
CONFIG_TARGET_zx279131=y
CONFIG_TARGET_zx279131_zx279131=y
CONFIG_TARGET_zx279131_zx279131_Default=y
CONFIG_HAS_SUBTARGETS=y
CONFIG_TARGET_BOARD="zx279131"
CONFIG_TARGET_ARCH_PACKAGES="zx279131"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -march=armv7-a -mtune=cortex-a5"
CONFIG_CPU_TYPE="cortex-a5"
CONFIG_LINUX_3_18=y
CONFIG_DEFAULT_base-files=y
CONFIG_DEFAULT_busybox=y
CONFIG_DEFAULT_fstools=y
CONFIG_DEFAULT_libc=y
CONFIG_DEFAULT_libgcc=y
CONFIG_DEFAULT_mtd=y
CONFIG_DEFAULT_opkg=y
CONFIG_DEFAULT_uci=y
CONFIG_USES_SQUASHFS=y
CONFIG_arm=y
CONFIG_ARCH="arm"
CONFIG_EXTERNAL_CPIO=""
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=256
CONFIG_TARGET_UBIFS_FREE_SPACE_FIXUP=y
CONFIG_TARGET_UBIFS_JOURNAL_SIZE=""
CONFIG_TARGET_ROOTFS_INCLUDE_UIMAGE=y
CONFIG_TARGET_ROOTFS_INCLUDE_ZIMAGE=y
CONFIG_TARGET_ROOTFS_INCLUDE_FIT=y
CONFIG_SIGNED_PACKAGES=y
CONFIG_BUILD_PATENTED=y
CONFIG_SHADOW_PASSWORDS=y
CONFIG_KERNEL_DEBUG_FS=y
CONFIG_USE_STRIP=y
CONFIG_STRIP_ARGS="--strip-all"
CONFIG_USE_UCLIBCXX=y
CONFIG_PKG_CC_STACKPROTECTOR_NONE=y
CONFIG_KERNEL_CC_STACKPROTECTOR_NONE=y
CONFIG_PKG_FORTIFY_SOURCE_NONE=y
CONFIG_PKG_RELRO_NONE=y
CONFIG_DEVEL=y
CONFIG_BINARY_FOLDER=""
CONFIG_DOWNLOAD_FOLDER=""
CONFIG_LOCALMIRROR=""
CONFIG_AUTOREBUILD=y
CONFIG_BUILD_SUFFIX=""
CONFIG_TARGET_ROOTFS_DIR=""
CONFIG_EXTERNAL_KERNEL_TREE=""
CONFIG_KERNEL_GIT_CLONE_URI=""
CONFIG_EXTRA_OPTIMIZATION="-fno-caller-saves"
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-Os -pipe -march=armv7-a -mtune=cortex-a5"
CONFIG_SOFT_FLOAT=n
CONFIG_EXTERNAL_TOOLCHAIN=y
CONFIG_TARGET_ZTE279131=y
CONFIG_TARGET_NAME="arm-279131-linux-uclibc"
CONFIG_TOOLCHAIN_PREFIX="arm-sanechips-linux-gnueabihf-"
CONFIG_TOOLCHAIN_ROOT="/opt/zte/cross_compiler/toolchain-5.3.1-arm32/usr"
CONFIG_TOOLCHAIN_LIBC="glibc"
CONFIG_TOOLCHAIN_BIN_PATH="./bin"
CONFIG_TOOLCHAIN_INC_PATH="./arm-sanechips-linux-gnueabihf/sysroot/usr/include"
CONFIG_TOOLCHAIN_LIB_PATH="./arm-sanechips-linux-gnueabihf/sysroot/usr/lib"
CONFIG_EXTRA_BINUTILS_CONFIG_OPTIONS=""
CONFIG_BINUTILS_VERSION="linaro"
CONFIG_EXTRA_GCC_CONFIG_OPTIONS=""
CONFIG_LIBC_USE_GLIBC=y
CONFIG_USE_GLIBC=y
CONFIG_USE_EXTERNAL_LIBC=y
CONFIG_LIBC="glibc"
CONFIG_IMAGEOPT=y
CONFIG_TARGET_PREINIT_SUPPRESS_STDERR=y
CONFIG_TARGET_PREINIT_TIMEOUT=2
CONFIG_TARGET_PREINIT_IFNAME=""
CONFIG_TARGET_PREINIT_IP="192.168.1.1"
CONFIG_TARGET_PREINIT_NETMASK="255.255.255.0"
CONFIG_TARGET_PREINIT_BROADCAST="192.168.1.255"
CONFIG_TARGET_INIT_PATH="/bin:/sbin:/usr/bin:/usr/sbin"
CONFIG_TARGET_INIT_ENV=""
CONFIG_TARGET_INIT_CMD="/sbin/init"
CONFIG_TARGET_INIT_SUPPRESS_STDERR=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="CT"
CONFIG_VERSION_NICK=""
CONFIG_VERSION_NUMBER="2.1"
CONFIG_VERSION_REPO=""
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_FILENAMES=y
CONFIG_PER_FEED_REPO=y
CONFIG_PER_FEED_REPO_ADD_DISABLED=y
CONFIG_PER_FEED_REPO_ADD_COMMENTED=y
CONFIG_FEED_packages=y
CONFIG_FEED_luci=y
CONFIG_FEED_routing=y
CONFIG_FEED_telephony=y
CONFIG_FEED_management=y
CONFIG_OPKGSMIME_PASSPHRASE=y
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_bridge=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_fstools=y
CONFIG_PACKAGE_jsonfilter=y
CONFIG_PACKAGE_libc=y
CONFIG_LIBC_ROOT_DIR="/opt/zte/cross_compiler/toolchain-5.3.1-arm32/usr/arm-sanechips-linux-gnueabihf/sysroot"
CONFIG_LIBC_FILE_SPEC="./lib/ld{-*.so,-linux*.so.*} ./lib/lib{anl,c,cidn,crypt,dl,m,nsl,nss_dns,nss_files,resolv,util}{-*.so,.so.*}"
CONFIG_PACKAGE_libgcc=y
CONFIG_LIBGCC_ROOT_DIR="/opt/zte/cross_compiler/toolchain-5.3.1-arm32/usr/arm-sanechips-linux-gnueabihf/sysroot"
CONFIG_LIBGCC_FILE_SPEC="./lib/libgcc_s.so.*"
CONFIG_PACKAGE_libpthread=y
CONFIG_LIBPTHREAD_ROOT_DIR="/opt/zte/cross_compiler/toolchain-5.3.1-arm32/usr/arm-sanechips-linux-gnueabihf/sysroot"
CONFIG_LIBPTHREAD_FILE_SPEC="./lib/libpthread{-*.so,.so.*}"
CONFIG_PACKAGE_librt=y
CONFIG_LIBRT_ROOT_DIR="/opt/zte/cross_compiler/toolchain-5.3.1-arm32/usr/arm-sanechips-linux-gnueabihf/sysroot"
CONFIG_LIBRT_FILE_SPEC="./lib/librt{-*.so,.so.*}"
CONFIG_PACKAGE_logd=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_procd=y
CONFIG_PACKAGE_ubox=y
CONFIG_PACKAGE_ubus=y
CONFIG_PACKAGE_ubusd=y
CONFIG_PACKAGE_uci=y
CONFIG_PACKAGE_usign=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_OPENSSL_WITH_EC=y
CONFIG_OPENSSL_WITH_SSL3=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_PACKAGE_glib2=y
CONFIG_PACKAGE_jansson=y
CONFIG_PACKAGE_json-glib=y
CONFIG_PACKAGE_libblobmsg-json=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcurl=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_TELNET=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_LIBCURL_OPTION=y
CONFIG_LIBCURL_VERBOSE=y
CONFIG_PACKAGE_libdbus=y
CONFIG_PACKAGE_libexpat=y
CONFIG_PACKAGE_libffi=y
CONFIG_PACKAGE_libjson-c=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_libnl-tiny=y
CONFIG_PACKAGE_libubox=y
CONFIG_PACKAGE_libubus=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_libuci=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_zlib=y
CONFIG_POSTFIX_TLS=y
CONFIG_POSTFIX_SASL=y
CONFIG_POSTFIX_LDAP=y
CONFIG_POSTFIX_CDB=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_xl2tpd=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-lua=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppol2tp=y
CONFIG_WPA_MSG_MIN_PRIORITY=3
CONFIG_ENABLE_DIAG_INFO=y
CONFIG_PACKAGE_bridgemode=y
CONFIG_PACKAGE_libcapi-lua=y
CONFIG_PACKAGE_libcapi3=y
CONFIG_PACKAGE_dbus=y
CONFIG_PACKAGE_dbus-utils=y
CONFIG_PACKAGE_jshn=y
CONFIG_PACKAGE_libjson-script=y
